.contents {
  display: flex;
  padding-top: 80px;
  background: #F5F5F5;
}

.contents__article {
  flex: 1;
}

.contents__aside {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  width: 25%;
  max-width: 350px;
  height: 100vh;
}

.contents_nav {
  margin-left: -40px;
}

.contents_nav__chapter {
  margin-bottom: 30px;
}

.contents_nav h5 {
  font-family: 'NEXON Lv1 Gothic bold';
  font-size: 25px;
  margin-bottom: 20px;
}

.contents_nav ol li {
  color: #5e5e5e;
  font-size: 14px;
  margin-bottom: 8px;
}

.contents_nav .dot {
  font-size: 10px;
  margin-right: 8px;
}

.contents__article {
  height: 500vh;
  padding-left: 80px;
  padding-right: 80px;
}

.content {
  /* border: 1px solid red; */
}

.content h2 {
  position: relative;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 6px solid #8b00ff;
}

.content h2 strong {
  position: relative;
  font-family: 'NEXON Lv1 Gothic bold';
  font-size: 65px;
}

.desc {
  display: flex;
  align-items: center;
}

.desc__text {
  font-size: 20px;
}

.desc__icon {
  display: inline-block;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  margin-right: 10px;
  fill: currentColor;
  font-size: 1.5rem;
}

.desc__icon.check {
  color: #8b00ff;
}

.task {
  padding-top: 30px;
  padding-bottom: 30px;
}
.task__title {
  font-size: 36px;
}

.task__tach {
  padding: 10px 0 15px;
  display: flex;
  gap: 12px;
}

.task__sec {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
  padding: 15px 0;
}

.task__img {
  padding: 20px 0;
  width: 80%;
}

.underline {
  text-decoration: underline;
  text-underline-offset: 3.5px;
}