@font-face {
  font-family: 'Quakiez';
  src: url(../fonts/Quakiez.ttf);
}

.fixed-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* scroll */
.scroll {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 40px;
  width: 40px;
  height: 40px;
  z-index: 1000;
}

.wrapper-all {
  height: 20000px;
  background: #fff;
  font-family: 'GmarketSans';
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 0 3%;
  mix-blend-mode: difference;
  z-index: 1000;
}

.header .logo,
.header .site-menu {
  padding: 20px 0;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.layer1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
}

.layer1 .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
}

.layer2 {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1659194612634-38b6281e150b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80) center no-repeat;
  background-size: cover;
}

.layer3 {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8vw;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.layer5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.layer5 .about div {
  margin: 5px 0;
  overflow: hidden;
}

.layer5 .about span {
  display: inline-block;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
  line-height: 1.5;
  font-size: 2vw;
  font-weight: 300;
  color: #fff;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.gl-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gl-cover div {
  width: 10vw;
  height: 100vh;
  background: -webkit-gradient(linear, left top, right top, from(black), to(#121212));
  background: linear-gradient(90deg, black 0%, #121212 100%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gl-cover div span {
  font-family: 'GmarketSans';
  font-size: 2vw;
  font-weight: 300;
  text-transform: uppercase;
}

.cover-gl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 200%;
  -webkit-transform: translate(-50%, -50%) rotate(-25deg);
          transform: translate(-50%, -50%) rotate(-25deg);
}

.cover-gl li {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cover-gl span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 0%;
  background: -webkit-gradient(linear, left top, right top, color-stop(90%, #000), to(#222222));
  background: linear-gradient(to right, #000 90%, #222222);
  -webkit-transition: .4s linear;
  transition: .4s linear;
}

.layer6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.layer6 .sitework-tit {
  position: absolute;
  top: 60%;
  left: 100%;
  color: #fff;
  white-space: nowrap;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.layer6 .sitework-tit span {
  display: inline-block;
  font-size: 12vw;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  opacity: 0;
  -webkit-transform: translateX(200%);
          transform: translateX(200%);
}

.sitework {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.sitework__left {
  position: relative;
  width: 26%;
  height: 100%;
}

.sitework__right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0vw;
  height: 100%;
  background: #fff;
}

.progress {
  position: absolute;
  top: 50%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-family: 'GmarketSans';
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.progress__line {
  height: 2px;
  width: 9vw;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 30px;
}

.progress__line-white {
  display: block;
  height: 2px;
  width: 0%;
  background: #fff;
}

.mokeup {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 28vw;
  z-index: 1;
}

.mokeup__img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.sitework-txt {
  position: relative;
  width: 65%;
  height: 100%;
  margin-left: auto;
}

.sitework-txt__item {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -2%;
  padding-right: 20%;
}

.sitework-txt strong {
  font-size: 15vw;
  color: #eeeeee;
}

.sitework-txt h3 {
  font-size: 3.5vw;
  margin-top: -11vw;
  text-transform: uppercase;
}

.sitework-txt p {
  width: 85%;
  padding-top: 7vw;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
}

.sitework-txt .btn {
  margin-top: 2.5vw;
}

.sitework-txt .btn a {
  display: inline-block;
  padding: 8px 12px;
  background-color: #000;
  margin-right: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.sitework-txt .btn a.code-btn {
  cursor: pointer;
}

.sitework-txt .btn a:hover {
  background-color: #3b3b3b;
}

.cover-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.cover-row--s1 li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 0%;
  background-color: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cover-row--s2 li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}

.cover-row--s2 li span {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0%;
  background: #000;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 47%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 100;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.modal .code-tab {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: #333333;
  border-radius: 10px 10px 0 0;
}

.modal .code-tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .code-tab li a {
  border-radius: 10px 10px 0 0;
  font-size: 14px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}

.modal .code-tab li.active a {
  background-color: #e7e7e7;
  color: #000;
}

.modal .close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #EE6B61;
  -webkit-box-shadow: 1px 2px 2px #202020;
          box-shadow: 1px 2px 2px #202020;
  z-index: 100;
}

.modal .close-btn .line {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 50%;
  background: #682d29;
  -webkit-transition: height .2s ease-in-out;
  transition: height .2s ease-in-out;
}

.modal .close-btn:hover .line {
  height: 60%;
  background: #3a1917;
}

.modal .close-btn .line:nth-child(1) {
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.modal .close-btn .line:nth-child(2) {
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}

.modal .code {
  display: none;
  position: absolute;
  bottom: 10px;
  height: calc(100% - 50px);
  width: 100%;
  z-index: 100;
}

.modal .code.active {
  display: block;
}

.modal pre {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  margin-top: 0;
  border-radius: 0;
}

.modal pre code {
  width: 100%;
  white-space: pre-wrap;
}

.modal pre.active {
  display: block;
}

.layer8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.layer8 .script-tit {
  position: absolute;
  bottom: 6%;
  left: 5%;
  font-size: 14vw;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 1;
}

.layer8 .script-tit span {
  display: inline-block;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.layer8 .script-tit span.active {
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
  opacity: 1;
}

.layer8 .bg-white {
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.layer8 .card {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.layer8 .card ul {
  position: absolute;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.layer8 .card li {
  padding: 25px;
  width: 300px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.layer8 .card__num {
  font-size: 10vw;
  color: #eeeeee;
}

.layer8 .card__tit {
  margin-top: -5vw;
  margin-left: 5vw;
  margin-bottom: 3.2vw;
  font-size: 3vw;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.layer8 .card__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.layer8 .card__img img {
  display: block;
  position: absolute;
  width: 60%;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: 1;
}

.layer8 .card__info {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.layer8 .card__desc {
  padding: 0 6%;
  font-size: 1.1vw;
  line-height: 1.5;
  letter-spacing: 3;
  color: #585858;
  margin-bottom: 3vw;
  font-weight: 300;
}

.layer8 .card__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.layer8 .card__btn button {
  display: inline-block;
  padding: 8px 12px;
  background-color: #696969;
  margin-right: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
}

.layer8 .dice {
  position: absolute;
  top: 45%;
  left: 14%;
  -webkit-transform: scale(0.35);
          transform: scale(0.35);
  z-index: 1;
}

.layer8 .dice figure {
  width: 210px;
  height: 210px;
  -webkit-animation: rotation 7s linear infinite;
          animation: rotation 7s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -105px;
  margin-left: -105px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.layer8 .dice .face {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-origin: center;
          transform-origin: center;
}

.layer8 .dice .face div {
  border: 8px double #fff;
  background: #000;
  width: 70px;
  height: 70px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: top;
}

.layer8 .dice .front {
  -webkit-transform: translate3d(0, 0, 105px);
          transform: translate3d(0, 0, 105px);
}

.layer8 .dice .back {
  -webkit-transform: rotateY(180deg) translate3d(0, 0, 105px);
          transform: rotateY(180deg) translate3d(0, 0, 105px);
}

.layer8 .dice .left {
  -webkit-transform: rotateY(-90deg) translate3d(0, 0, 105px);
          transform: rotateY(-90deg) translate3d(0, 0, 105px);
}

.layer8 .dice .right {
  -webkit-transform: rotateY(90deg) translate3d(0, 0, 105px);
          transform: rotateY(90deg) translate3d(0, 0, 105px);
}

.layer8 .dice .top {
  -webkit-transform: rotateX(90deg) translate3d(0, 0, 105px);
          transform: rotateX(90deg) translate3d(0, 0, 105px);
}

.layer8 .dice .bottom {
  -webkit-transform: rotateX(-90deg) translate3d(0, 0, 105px);
          transform: rotateX(-90deg) translate3d(0, 0, 105px);
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotateY(0) rotateX(0);
            transform: rotateY(0) rotateX(0);
  }
  to {
    -webkit-transform: rotateY(-360deg) rotateX(360deg);
            transform: rotateY(-360deg) rotateX(360deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotateY(0) rotateX(0);
            transform: rotateY(0) rotateX(0);
  }
  to {
    -webkit-transform: rotateY(-360deg) rotateX(360deg);
            transform: rotateY(-360deg) rotateX(360deg);
  }
}
