/* scroll */
.scroll {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 40px;
  width: 40px;
  height: 40px;
  z-index: 100000;
}

/* layout */
#header {
  position: fixed;
  width: 100%;
  height: 50px;
  z-index: 100;
}

#section1 {
  height: 6000px;
  background: #fff;
}

/* header */
.header {
  position: relative;
}

.header .logo {
  position: absolute;
  left: 2.5%;
  padding: 20px 0;
  font-family: 'GmarketSans';
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.header .site-menu {
  position: absolute;
  right: 2.5%;
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

#header .logo .circle {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #000;
  display: inline-block;
}

.cont1 {
  position: fixed;
  left: 0;
  top: 0;
  width: 50vw;
  height: 100vh;
  background: #fff;
  z-index: 1;
}

.cont2 {
  position: fixed;
  left: 50%;
  top: 0;
  width: 50vw;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1659194612634-38b6281e150b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80) center no-repeat;
  background-size: cover;
  z-index: 1;
}

.cont3 {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
  z-index: 10;
  color: #fff;
}

.cont3 h2 {
  font-family: 'GmarketSans';
  font-size: 8vw;
  white-space: nowrap;
  font-weight: 300;
  line-height: 1;
}

.cont4 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.flip {
  position: fixed;
  right: 18%;
  bottom: 24%;
  transform: translate(50%, 50%);
}

.flip__inner {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.flip__front {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: url(../img/profile.png) no-repeat center center;
  background-size: cover;
  backface-visibility: hidden;
  z-index : 10;
}

.flip__back {
  position: absolute;
  background: #000;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotateY(180deg);
}

.flip__svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  z-index: 1000;
}

.flip__svg svg {
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.cont5 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  padding-right: 30vw;
  height: 100vh;
  z-index: 10;
}

.cont5__txt {
  display: flex;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  padding-right: 30vw;
  font-family: 'GmarketSans';
  font-size: 4.2vw;
} 

.cont5__txt p {
  padding: 0 10%;
}

.cont6 {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.cont6 .index {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-left: 1px solid #757575;
}

.cont6 .index__item {
  display: flex;
  align-items: center;
  flex: 1;
  position: relative;
  padding-left: 12%;
  border-bottom: 1px solid #757575;
}

.cont6 .index__item:last-child {
  border: none;
}

.cont6 .index__item a {
  font-family: 'GmarketSans';
  font-size: 5vw;
  color: #fff;
  text-transform: uppercase;
} 

.index__white {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background: #fff;
}

.cont7 {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  opacity: 0;
}

.cont7 h3 {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  font-family: 'GmarketSans';
  font-size: 9vw;
  font-weight: 600;
  mix-blend-mode:overlay;
  color: #000;
  text-transform: uppercase;
}

.cont7__bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: saturate(0);
}

.cont7 ul {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.cont7 ul li {
  flex: 1;
  position: relative;
}

.cont7 ul li span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: white;
}

.cont7__txt {
  position: fixed;
  border: 1px solid red;
}

.cont7__txt ul {
  display: flex;
}

.cont7__txt ul li {
  text-transform: uppercase;
  font-size: 12vw;
}

.cont7 ol {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.cont7 ol li {
  flex: 1;
  position: relative;
}

.cont7 ol li span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #000;
}

.cont8 {
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}

.cont8 .left {
  position: relative;
  width: 26vw;
  height: 100%;
}

.cont8 .left .progress {
  position: absolute;
  top: 50%;
  display: flex;
  color: #fff;
  font-family: 'GmarketSans';
  font-weight: 500;
  align-items: center;
  transform: translateY(-50%) rotate(-90deg);
}

.cont8 .left .progress .line {
  height: 2px;
  width: 130px;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  margin: 0 30px;
}
.cont8 .content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 28vw;
}

.cont8 .content img {
  height: 100%;
  object-fit: cover;
}

.cont8 .right {
  display: flex;
  align-items: center;
  width: 0vw;
  height: 100%;
  background: #fff;
}

.cont8 .right .txt {
  width: 70%;
  margin-left: auto;
  padding-right: 20%;
}

.cont8 .right .txt strong {
  font-size: 15vw;
  color: #e7e7e7;
  font-family: 'GmarketSans';
}

.cont8 .right .txt h3 {
  font-family: 'GmarketSans';
  font-size: 4vw;
  margin-top: -11vw;
  text-transform: uppercase;
}

.cont8 .right .txt p {
  padding-top: 7vw;
  font-family: 'GmarketSans';
  font-size: 18px;
}

.cont8 .right .txt .btn {
  margin-top: 2vw;
}

.cont8 .right .txt .btn a {
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'GmarketSans';
  font-weight: 600;
  margin-right: 2vw;
  color: #333;
}