.about {
  position: relative;
  // height: 100vh;

  &__col1 {
    display: flex;
    align-items: flex-end;
    margin-left: 50%;
    height: 100vh;

  }
}

.about-txt {
  height: 380px;
  border-left: 1px solid #000;
  padding-left: 50px;

  &__tit {
    font-size: 32px;
  }

  &__desc {
    margin-top: 30px;
  }
}

.about-svgline {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}

.sitework {
  margin-top: -30px;
  background: #000;
  height: 100vh;
}

