header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #737373;
  background-color: #000;
  color: #fff;
  z-index: 10;
}

.logo {
  padding: 0 16px;

  a {
    font-size: 36px;
    padding-bottom: 8px;
  }
}

.site-nav {
  margin-left: auto;

  &__list {
    display: flex;
  }

  &__item {
    padding: 25px 20px;
  }

  a {
    padding: 5px 0;
  }
}

.contact-panel {
  display: flex;
  align-self: stretch;
  width: 34%;
  margin-left: auto;
  border-left: 1px solid #737373;

  &__list {
    display: flex;
    align-items: center;
    padding-left: 15%;
  }

  a {
    padding: 10px 24px;
  }

  a:first-child {
    margin-left: -24px;
  }


}