// z-index
$z1: 1;
$z2: 10;
$z3: 100;
$z4: 1000;

@font-face {
  font-family: 'Quakiez';
  src: url(../fonts/Quakiez.ttf);
}

.fixed-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

/* scroll */
.scroll {
  position: fixed;
  left: 10px;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  line-height: 40px;
  width: 40px;
  height: 40px;
  z-index: 1000;
}

// wrapper-all
.wrapper-all {
  height: 20000px;
  background: #fff;
  font-family: 'GmarketSans';
}

// header
.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 0 3%;
  mix-blend-mode: difference;
  z-index: $z4;

  .logo,
  .site-menu {
    padding: 20px 0;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
  }
}

// 1층 바닥배경
.layer1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  .circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
  }
}

// 2층 절반 이미지 - 0 ~ 1500
.layer2 {
  position: absolute;
  left: 50%;
  width: 50%;
  height: 100%;
  background: url(https://images.unsplash.com/photo-1659194612634-38b6281e150b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1015&q=80) center no-repeat;
  background-size: cover;
}

// 3층 중앙 메인 텍스트 - 0 ~ 1600
.layer3 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 8vw;
  line-height: 1;
  font-weight: 300;
  white-space: nowrap;
  mix-blend-mode: difference;
}

// 5층 about 소개
.layer5 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;

  .about {
    div {
      margin: 5px 0;
      overflow: hidden;
    }

    span {
      display: inline-block;
      transform: translateY(0px);
      line-height: 1.5;
      font-size: 2vw;
      font-weight: 300;
      color: #fff;
      transition: all .3s ease;
    }
  }

}

.gl-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;

  div {
    width: 10vw;
    height: 100vh;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(18, 18, 18) 100%);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;

    span {
      font-family: 'GmarketSans';
      font-size: 2vw;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}

.cover-gl {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 120%;
  height: 200%;
  transform: translate(-50%, -50%) rotate(-25deg);

  li {
    position: relative;
    flex: 1;
  }

  span {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    background: linear-gradient(to right, #000 90%, #222222);
    transition: .4s linear;
  }
}

.layer6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .sitework-tit {
    position: absolute;
    top: 60%;
    left: 100%;
    color: #fff;
    white-space: nowrap;
    transform: translateY(-50%);

    span {
      display: inline-block;
      font-size: 12vw;
      font-weight: 600;
      text-transform: uppercase;
      transition: .1s ease-in-out;
      opacity: 0;
      transform: translateX(200%);
    }
  }
}

// 8층 sitework 작업물 5350 ~ 7600
.sitework {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  &__left {
    position: relative;
    width: 26%;
    height: 100%;
    // background-color: #000;
  }

  &__right {
    position: relative;
    display: flex;
    align-items: center;
    width: 0vw;
    height: 100%;
    background: #fff;
  }
}

.progress {
  position: absolute;
  top: 50%;
  left: 25%;
  // width: 100%;
  display: flex;
  color: #fff;
  font-family: 'GmarketSans';
  font-weight: 500;
  align-items: center;
  transform: translate(-50%, -50%) rotate(-90deg);
  transition: opacity 0.3s ease;

  &__line {
    height: 2px;
    width: 9vw;
    background: rgba(255, 255, 255, 0.5);
    margin: 0 30px;
  }

  &__line-white {
    display: block;
    height: 2px;
    width: 0%;
    background: #fff;
  }
}

.mokeup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 28vw;
  z-index: $z1;

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }
}

.sitework-txt {
  position: relative;
  width: 65%;
  height: 100%;
  margin-left: auto;

  &__item {
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -2%;
    padding-right: 20%;
  }

  strong {
    font-size: 15vw;
    color: #eeeeee;
  }

  h3 {
    font-size: 3.5vw;
    margin-top: -11vw;
    text-transform: uppercase;
  }

  p {
    width: 85%;
    padding-top: 7vw;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 300;
  }

  .btn {
    margin-top: 2.5vw;
  }

  .btn a {
    display: inline-block;
    padding: 8px 12px;
    background-color: #000;
    margin-right: 20px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .btn a.code-btn {
    cursor: pointer;
  }

  .btn a:hover {
    background-color: #3b3b3b;
  }
}

.cover-row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;

  &--s1 li {
    flex: 1;
    width: 0%;
    background-color: #000;
    transition: all 0.3s ease;
  }

  &--s2 li {
    flex: 1;
    position: relative;
  }

  &--s2 li span {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0%;
    background: #000;
    transition: all 0.3s ease;
  }
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 47%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: $z3;
  transition: .3s ease-in-out;

  .code-tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: #333333;
    border-radius: 10px 10px 0 0;

    ul {
      display: flex;
      align-items: center;
    }

    li a {
      border-radius: 10px 10px 0 0;
      font-size: 14px;
      display: inline-block;
      color: #fff;
      padding: 10px 20px;
      text-transform: uppercase;
    }

    li.active a {
      background-color: #e7e7e7;
      color: #000;
    }
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EE6B61;
    box-shadow: 1px 2px 2px #202020;
    z-index: $z3;

    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 2px;
      height: 50%;
      background: #682d29;
      transition: height .2s ease-in-out;
    }

    &:hover .line {
      height: 60%;
      background: #3a1917;
    }

    .line:nth-child(1) {
      transform: translate(-50%, -50%) rotate(-45deg);
    }

    .line:nth-child(2) {
      transform: translate(-50%, -50%) rotate(45deg)
    }
  }

  .code {
    display: none;
    position: absolute;
    bottom: 10px;
    height: calc(100% - 50px);
    width: 100%;
    z-index: $z3;
  }

  .code.active {
    display: block;
  }

  pre {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px;
    margin-top: 0;
    border-radius: 0;


    code {
      width: 100%;
      white-space: pre-wrap;
    }
  }

  pre.active {
    display: block;
  }
}

.layer8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z1;

  .script-tit {
    position: absolute;
    bottom: 6%;
    left: 5%;
    font-size: 14vw;
    color: #fff;
    mix-blend-mode: difference;
    z-index: $z1;

    span {
      display: inline-block;
      transform: translateY(100%);
      opacity: 0;
      transition: all 0.2s ease;
    }

    span.active {
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .bg-white {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color: #fff;
  }

  .card {
    border: 1px solid red;
    position: absolute;
    top: 0;
    right: -100%;
    width: 150%;
    height: 100%;

    ul {
      position: absolute;
      left: 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 100%;
      height: 100%;
      padding-bottom: 5%;
    }

    li {
      margin-right: 30px;
      position: relative;
      width: 300px;
    }

    &__tit {
      margin-left: -5vw;
      font-size: 3.5vw;
      transition: all 0.3s ease;
      color: #000000;
    }

    &__num {
      font-size: 6vw;
      padding-right: 15px;
      color: #d4d4d4;
    }

    &__img {
      filter: saturate(0.2);

      img {
        display: block;
        height: 200px;
        object-fit: cover;
        transition: all 0.3s ease;
        z-index: $z1;
      }
    }

    &__info {
      transform-style: preserve-3d;
    }



    &__desc {
      padding: 0 6%;
      font-size: 1.2vw;
      line-height: 1.8;
      letter-spacing: 3;
      color: #000000;
      margin-top: 1vw;
      margin-bottom: 1vw;
      font-weight: 300;
    }

    &__btn {
      position: relative;
      width: 100%;

      button {
        display: block;
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background-color: #000;
        color: #fff;
        margin-bottom: 1vw;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;

        &:nth-child(1) {
          position: absolute;
          bottom: -60px;
          left: -60px;

          
        }

        &:hover {
          background-color: #585858;  
          color: #fff;
        }

        // &:nth-child(2) {
        //   position: absolute;
        //   bottom: -60px;
        //   right: -60px;
        // }
      }
    }
  }

  .dice {
    position: absolute;
    top: 45%;
    left: 14%;
    transform: scale(.35);
    z-index: $z1;

    figure {
      width: 210px;
      height: 210px;
      animation: rotation 7s linear infinite;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -105px;
      margin-left: -105px;
      transform-style: preserve-3d;
    }

    .face {
      width: 100%;
      height: 100%;
      position: absolute;
      transform-origin: center;
    }

    .face div {
      border: 8px double #fff;
      background: #000;
      width: 70px;
      height: 70px;
      display: inline-block;
      box-sizing: border-box;
      vertical-align: top;
    }

    .front {
      transform: translate3d(0, 0, 105px);
    }

    .back {
      transform: rotateY(180deg) translate3d(0, 0, 105px);
    }

    .left {
      transform: rotateY(-90deg) translate3d(0, 0, 105px);
    }

    .right {
      transform: rotateY(90deg) translate3d(0, 0, 105px);
    }

    .top {
      transform: rotateX(90deg) translate3d(0, 0, 105px);
    }

    .bottom {
      transform: rotateX(-90deg) translate3d(0, 0, 105px);
    }

    @keyframes rotation {
      from {
        transform: rotateY(0) rotateX(0);
      }

      to {
        transform: rotateY(-360deg) rotateX(360deg);
      }
    }
  }
}